<ion-view view-title="chat">
  <ion-content padding="true" class="has-header">
    <label>
      <h1>Live chat</h1>
    </label>
    <ion-list>
            <ion-item ng-repeat="message in messages">
              {{currentUser.username}} says: {{message.message}}
            </ion-item>
        </ion-list>
  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-positive item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message"  ng-model="data.message"/>
      </label>
      <button class="button button-clear" ng-click="addMessage(data.message)">
        Send
      </button>
    </ion-footer-bar>
</ion-view>
