<ion-view view-title="chat">
  <ion-content>
    <label>
      <h1>Live chat</h1>
    </label>
    <div class="chatbox">
    <ul id='example-messages' class="example-chat-messages"></ul>
  </div>
  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-positive item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message"  ng-model="data.message"/>
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>
</ion-view>
