<ion-view view-title="Login" hide-nav-bar="true">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content class="login">
    <form name ="myform" ng-submit="login(user)">
      <h1>Hi there!</h1>
      <p class="welcome">Log-in to access the awesomeness!</p>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email:</span>

          <input type="text" ng-model="user.email" ng-required="true" name="email">
<br>
<br>
          <p
      ng-show="myform.email.$invalid && myform.email.$touched">
      Must be a valid email
      </p>

        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password" ng-required="true">
        </label>
        <label class="item">
          <button type="submit" class="button button-block button-balanced"
      ng-disabled="myform.$invalid" type="submit">Login</button>
        </label>
        <p class="welcome">or <a href="#/app/register">register</a></p>
      </div>
    </form>
  </ion-content>
</ion-view>
