<ion-view view-title="Login">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name ="myform" ng-submit="login()">
      <h1>Hi there!</h1>
      <p class="welcome">Log-in to access the awesomeness!</p>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password">
        </label>
        <label class="item">
          <button type="submit" class="button button-block button-balanced"
      ng-disabled="myform.$invalid" type="submit">Login</button>
    <p class="welcome">or <a href="#/register">register</a></p>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
