<ion-view view-title="My Profile">
  <ion-content class="padding">

    <h1>Welcome <br>{{currentUser.username}}</h1>

    <form name="myform" ng-submit="updateUser(user)">
    <label for="">
      <p>first name: <input type="text" ng-model="user.firstname" placeholder="{{currentUser.firstname}}"></p>
    </label>

    <label for="">
      <p>last name: <input type="text" ng-model="user.lastname" placeholder="{{currentUser.lastname}}"></p>
    </label>

    <label for="">
      <p>username: <input type="text" ng-model="user.username" placeholder="{{currentUser.username}}"></p>
    </label>

    <label for="">
      <p>email: <input type="text" ng-model="user.email" placeholder="{{currentUser.email}}"></p>
    </label>

      <button class="button button-block button-balanced" type="submit">Update profile</button>
  </form>
  <button class="button button-block button-assertive" type="submit" ng-click="DeleteUser(user)">Delete profile</button>

  </ion-content>
</ion-view>


<span class="input-label">Username</span>
