/* Empty. Add your own CSS if you like */
h1{
  text-align:center;
}

.welcome{
  text-align: center;
}

.login{
background-image: url('/img/wall.jpg');
background-size: cover;
background-repeat: no-repeat;
}
